[includeIf "gitdir:GitHub/"]
	path = .gitconfig-github

[includeIf "gitdir:GitLab/"]
	path = .gitconfig-gitlab

[core]
	excludesfile = ~/.gitignore
	editor = nano

[commit]
	gpgsign = true

[pull]
	rebase = true

[status]
	short = true
