[core]
  excludesfile = ~/.gitignore
  editor = nvim

[commit]
  gpgsign = true

[format]
  pretty = format:%C(yellow)%h %Cblue%>(20)%ad %Cgreen%<(15)%aN%Cred%d %Creset%s

[gpg]
  program = gpg2

[log]
  date = relative
  decorate = short

[pull]
  rebase = true

[status]
  short = true

[user]
  email = onnovalkering@users.noreply.github.com
  name = Onno Valkering
  signingkey = 0AB0702917844419
