[Unit]
Description=Load ZFS keys
DefaultDependencies=no
After=network-online.target zfs-import.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bash -c 'for d in /zpool/*; do ssh caradoc cat ~/.secrets/zpool-key | sudo zfs load-key -L prompt ${d:1}; done; sudo zfs mount -a'
RemainAfterExit=yes
TimeoutSec=30
Type=oneshot
User=onno

[Install]
WantedBy=default.target